.header {
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 98;
  .menu {
    width: 180px;
    height: 650px;
    background-color: #c9fd74;
    border-radius: 25px;
    position: relative;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 98; 
    .menu {
      width: 180px;
      height: 650px;
      background-color: #c9fd74;
      border-radius: 25px;
      position: relative;
    }
  }
}

